<app-navbar style="background-color: #FFFFF4;"></app-navbar>


<div class="container-fluid" style="background-color: #e7e78e; padding-top: 80px; width: 100%;">
   <div class="row">
      <div class="col-md-6 center-motto textq-color">
         <h1 class="header1">Visualizing Your Ideas</h1> 
      </div>
      
      <div class="col-md-6 text-center">
         <img  src="../../../assets/images/blackun.png" alt="" srcset="">
       </div>
 </div>
 </div>

 
 <div class="container-fluid">
   <div class="row">
      <div class="col-md-5">
         
      </div>
      <div class="col-md-2">
         <div class="about-us">
            <h2 class="text-center">About Us</h2>
            <hr class="custom-hr">
         </div>      
      </div>
      <div class="col=5">
         
      </div>
   </div>
   <div class="row">
      <div class="col-md-6">
         content here
      </div>
      <div class="col-md-6">
         content her
      </div>
   </div>
 </div>

 <br><br>

 <div class="container-fluid" style="background-color: #f3f5fa;  width: 100%;">
   <div class="services">
      <div class="row">
         <div class="col-md-5">
            
         </div>
         <div class="col-md-2">
            <div class="about-us">
               <h2 class="text-center">Our Services</h2>
               <hr class="custom-hr">
            </div>      
         </div>
         <div class="col=5">       
         </div>
      </div>
      <div class="row">
         We specialize in creating custom designs for t-shirts and mugs, offering unique, high-quality prints for all occasions and styles.
      </div>
</div>